* {
    font-family: 'Roboto', sans-serif;
    border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.recipe-rating .checked {
    color: orange;
}

.recipe-title {
    color: black;
    text-decoration: none;
}

.recipe-title:hover {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #075079;
}

.recipe-card:hover {
    transform: scale(0.97);
}

.text-color {
    color: #ff9900;
}

.recipe-btn {
    color: #fff;
    background-color: #ff9900 !important;
    border-color: #ff9900 !important;
}

.recipe-btn-outline {
    color: #ff9900;
    border-color: #ff9900;
}

.nav-link:hover{
    color: #ff9900;
}

.recipe-btn:hover .recipe-btn-outline:hover, button:focus
{
    color:#000;
}

.btn:focus{
    box-shadow: none !important;
}

.text-align-right{
    text-align: 'right' !important
}

.card-img-small 
{
    width: 238px;
    height: 238px;
}

.card-img-big 
{
    width: 500px;
    height: 500px;
}