#logo-text {
    font-size: 12px;
    margin: 0px;
}

/* Begin recipe item styles */
.recipe-item {
    /* border: 1px solid black; */
    -webkit-box-shadow: 7px -4px 40px -13px rgba(0,0,0,0.37);
    -moz-box-shadow: 7px -4px 40px -13px rgba(0,0,0,0.37);
    box-shadow: 7px -4px 40px -13px rgba(0,0,0,0.37);
}

.recipe-rating .checked {
    color: orange;
}

/* End recipe item styles */