* {
    font-family: 'Roboto', sans-serif;
}

.recipe-rating .checked {
    color: orange;
}

.recipe-title {
    color: black;
    text-decoration: none;
}

.recipe-title:hover {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #075079;
}